.contact {
  padding: 5rem;
  padding-top: 15rem;
  margin-bottom: 15rem;
  margin: 0 auto;
  height: 100vh;
}

.contact > h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.contact > p {
  font-size: 3.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label,
input,
select,
textarea,
button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input,
select,
textarea,
button {
  padding: 0.6rem 1.2rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  margin-top: 2rem;
}

.form-btn {
  cursor: pointer;
  background-color: white;
  color: black;
  margin-top: 3rem;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  letter-spacing: 0.5rem;
}
/* loading */
.loading {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.loader {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0.5rem;
  animation: loading 2s linear infinite;
}

.loader:nth-of-type(2) {
  animation-delay: 0.6s;
}
.loader:nth-of-type(3) {
  animation-delay: 1.2s;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/* contact-res page */

.contact-res {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-res > p {
  font-size: 1.8rem;
}
.contact-icon {
  width: 4.5rem;
  height: 4.5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  .contact {
    margin-bottom: 15rem;
  }
  form {
    max-width: 35rem;
  }
}
